html,body{
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.mynav{
  color: #fff;
}

.mynav li a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  border-radius: 5px;
  padding: 8px 5px;
}

.mynav li a.active{
  background: rgba(255,255,255,0.2);
}

.mynav li a:hover{
  background: rgba(255,255,255,0.2);
}

.mynav li a i{
  width: 25px;
  text-align: center;
}

.card{
  background: #696765;
  height: 100%;
  width: 100%;

}
.search
{
	border: 2px solid black;
	overflow: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
  margin-bottom: 10px;
}

.search input[type="search"]
{
	border: 0px;
	width: 67%;
	padding: 10px 10px;
}

.search input[type="search"]:focus
{
	outline: 0;
}

.search input[type="submit"]
{
	border: 0px;
	background: none;
	background-color: black;
	color: #fff;
	float: right;
	padding: 10px;

	-moz-border-radius-top-right: 5px;
	-webkit-border-radius-top-right: 5px;

	-moz-border-radius-bottom-right: 5px;
	-webkit-border-radius-bottom-right: 5px;
  cursor:pointer;
}

.col{
  height: 510px;
  overflow: scroll;
}

.whois{
  margin-left: 88%;
  margin-bottom: 0px;
  margin-top: 0px;
  
}